# Adicione isso ao final do seu arquivo .gitignore

# Supabase & Environment Variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Vercel / Netlify (Se for usar para deploy)
.vercel
.netlify

# TypeScript
*.tsbuildinfo

# PWA - Arquivos gerados pelo plugin
public/sw.js
public/workbox-*.js
node_modules
